.App {
  text-align: center;
}

.container {
    margin: 20px;
    height: 300px;
}

.three-line-legend {
	width: 396px;
	height: 70px;
	position: absolute;
	padding: 20px;
	font-size: 24px;
	color: '#20262E';
	background-color: rgba(255, 255, 255, 0.23);
	text-align: left;
	z-index: 1000;
	pointer-events: none;
    line-height: 1;
    display: block;
}
